a {
  decoration: none;
}

.post {
  margin: 10px;
  padding: 20px;
  background-color: #fcfcfc;
  border: 2px solid #fefefe;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.post:hover {
  box-shadow: 0 0 5px #1f1f1f;
}
