.base-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.navigation {
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 200;
}

.navigation button {
  border-radius: 6px 6px 0 0;
}

.feed-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top:100px;
}

a {
  decoration: none;
}

.post {
  margin: 10px;
  padding: 20px;
  background-color: #fcfcfc;
  border: 2px solid #fefefe;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.post:hover {
  box-shadow: 0 0 5px #1f1f1f;
}

#signOut{
  display : none;
}

.tweet{
  padding:20px;
}

.tweet .tweet-content{
  padding-bottom: 10px;
}

.tweet .load-more {
    margin: 30px 10px;
}

.tweet-header{
    margin: 25px 0;
}

.loading-spinner{
  position: absolute;
  background-image: url(../images/loading-spinner.gif);
  z-index: 5;
  margin: 30%;
  width: 250px;
  height: 250px;
}

.loading-background {
  background-color: black;
  position: absolute;
  width: 100%;
  z-index: 2;
  opacity: 0.5;
  height: 100%;
}
