<!--div class="container" ng-controller="tweetCntrl"-->
  <div class="row tweet-header">
    <div class="col-xs-2" ng-if="!tweet.connectedTwitter">
      <button ng-click="tweet.connectButton()" id="connectButton" type="button" class="btn btn-primary">Connect Twitter</button>
    </div>
    <div class="col-xs-2">
      <button ng-click="tweet.refreshTimeline()" id="getTimelineButton" type="button" class="btn btn-info">Get My Timeline</button>
      <button ng-click="tweet.signOut()" id="signOut" type="button" class="btn btn-link" >Sign Out</button>
    </div>
    <div class="col-xs-8">
      <input type="text" ng-model="tweet.searchTerm" class="form-control" id="searchBox" placeholder="Enter search term here" ng-show="tweet.connectedTwitter" />
    </div>
  </div>
  <div class="row tweet">
    <div class="col-xs-12" id="results">
      <div class="row tweet-content" ng-repeat="t in tweet.tweets | filter:tweet.searchTerm">
        <div class="col-xs-2 col-sm-1">
          <img ng-src="{{t.user.profile_image_url}}" class="img-circle">
        </div>
        <div class="col-xs-8 col-sm-9">
          <small>{{t.user.name}}</small>
          <br> <span ng-bind-html="t.text"></span>
        </div>
        <div class="col-xs-2 col-sm-2">
          <button class="btn btn-primary" ng-click="tweet.postFeed(t.user.name, t.text)">Post</button>
        </div>
      </div>

      <div ng-show="tweet.rateLimitError">
        Rate limit reached. You are making too many requests.
      </div>
      <div class="load-more">
        <input type="button" class="btn btn-info" id="load-more" ng-click="tweet.refreshTimeline(tweets[tweets.length-1].id)" ng-show="tweet.connectedTwitter" value="Load More" />
      </div>
    </div>
  </div>
<!--/div-->
