<div style= 'padding-top: 5%'>
<p class="btn">Welcome {{Name}}</p>

<button ng-click="FBPost()">Post to Facebook</button>

<br><br>

<button ng-click="FBHello()">Post to Facebook</button>
<br><br>
<button ng-click="FBRead()">Post to Facebook</button>
<br><br>
<button ng-click="FBReading()">FB Post Fetch</button>
<br><br>
<input type="text" id="postUrl">
<button ng-click="GetNum()">FB Get number</button>
<br>
<button ng-click="SplitPostId()">FB Split Id</button>
<br>
<br>
<button ng-click="GetId()">FB Get Id</button>
<br>
<button ng-click="RawHtml()">Get Raw html</button>
<br>

Title: <p>{{data.description}}</p>
<br>
Id: {{data.id}}

</div>
