<h1>Spontaneous Match</h1>
<h2>Social Bridge</h2>
<div class="btn-group">
  <button class="btn btn-primary btn-lg" ng-click="facebookHome()">Facebook</button>
  <button class="btn btn-primary btn-lg" ng-click="twitterHome()">Twitter</button>
</div>

<div class="container" ng-controller="MainCtrl">
  <br><br>
  <div class="row">
    <div class="col-xs-6">
      <button ng-click="connectSpontaneousButton()" id="connectSpontaneousButton" type="button" class="btn btn-primary">Connect SpontaneousMatch</button>
      <button ng-click="refreshPosts()" id="getPostsButton" type="button" class="btn btn-info" style="display:none;">Get My Posts</button>
      <button ng-click="signOutSpontaneous()" id="signOutSpontaneous" type="button" class="btn btn-link" style="display:none;">Sign Out</button>
    </div>
    <div class="col-xs-6">
      <input type="text" ng-model="searchTerm" class="form-control" id="searchBox" placeholder="Enter search term here" ng-show="connectedSpontaneous" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" id="results">
      <div class="row" ng-repeat="p in posts | filter:searchTerm">
        <div class="col-xs-2 col-sm-1">
          <img ng-src="{{t.user.profile_image_url}}" class="img-circle">
        </div>
        <div class="col-xs-10 col-sm-11">
          <small>{{t.user.name}}</small>
          <br> <span ng-bind-html="t.text"></span>
        </div>
      </div>

      <div ng-show="rateLimitError">
        Rate limit reached. You are making too many requests.
      </div>
      <div>
        <br/>
        <input type="button" class="btn btn-info" id="load-more" ng-click="refreshPosts()" ng-show="connectedSpontaneous" value="Refresh" />
      </div>
    </div>
  </div>
</div>
